.polaroid {
    padding: 10px;
    background: white;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 5px auto;
    width: 610px;
   
}

.card-image {
    width: 580px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
    filter: sepia(5%) contrast(80%);
    border: 1px solid #ccc;
}