.water-background {
    position: relative;
    z-index: 1;
}

.water-background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background-image: url('../../assets/water.jpg');
    background-size: 100%;
    z-index: -1;
}

.adminpage-container {
    position: relative;
    z-index: 2;
}