*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.water-background {
  position: relative;

  /* Winter */
  background: #E6DADA;
  background: -webkit-linear-gradient(to top, #274046, #E6DADA);
  background: linear-gradient(to top, #274046, #E6DADA);
  
  min-height: 100vh;
  /* Asegura que el fondo cubra toda la altura visible */
}