.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 50px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.swiper-pagination {
    margin-bottom: -10px;
     /* Aumenta este valor si necesitas más espacio */
}