.form-container {
    padding: 15px;
 }

.signForm-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../../assets/login-wave.png')no-repeat center center;
    background-size: 180% auto;
}